body {
  padding: 10px;
  font-family: Nunito, sans-serif;
  background-color: skyblue;
}

.sidebar ul{
  list-style-type: none;
  text-align: left;
  padding-top: 1em;
  padding-left: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.5em;
  padding-left: 2em;
}

.sidebar li:hover {
  background-color: blanchedalmond;
  cursor: pointer;
  color: black;
}

#current {
  color: steelblue;
}

.sidebar {
  background-color: rgb(36, 36, 53);
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  color: aliceblue;
  text-align: center;
}

.topbar {
  width: 100%;
  z-index: 2;
  top: 0;
  padding: 1em;
  padding-left: 17%;
  font-size: 18pt;
  left: 0;
  box-shadow: 0 2px
}

.body {
  margin-left: 15%;
  margin-top: 1em;
}

#sideMenu {
  padding-left: 2em;
  width: 30%;
  float: left;
}

#mainContent {
  width: 65%;
  float: right;
  padding-top: 1em;
}