body {
  padding: 0px;
  font-family: Nunito, sans-serif;
  /* background-color: skyblue; */
  margin: 0px;
}

.sidebar ul{
  list-style-type: none;
  text-align: left;
  padding-top: 1em;
  padding-left: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.5em;
  padding-left: 2em;
}

.sidebar li:hover {
  background-color: blanchedalmond;
  cursor: pointer;
  color: black;
}

#current {
  color: steelblue;
}

.sidebar {
  background-color: rgb(36, 36, 53);
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  color: aliceblue;
  text-align: center;
  padding-top: 2em;
}

.topbar {
  z-index: 2;
  padding: 1em;
  padding-left: 17%;
  font-size: 18pt;
  height: 4em;
}

.topbarWeather {
  font-size: 12pt;
  position: absolute;
  left: 45%;
  top: 1em;
}

.topbarLogin {
  font-size: 12pt;
  position: absolute;
  left: 80%;
  top: 1em;
}

.topbarWeather p, h3 {
  margin: 0%;
}

.topbarCity {
  font-size: 12pt;
  position: absolute;
  left: 35%;
  top: 2em;
}

.body {
  margin-left: 15%;
  padding-bottom: 2em;
  padding-top: 1em;

}

#sideMenu {
  padding: 2em;
  padding-right: 1em;
  /* width: 40%; */
  background-color: inherit;
  /* float: left; */
}

#sidebar h1 {
  padding: 1em;
}

/* #mainContentPref {
  padding: 1em;
}
*/

#mainContent {
  padding-right: 2em;

  /* padding-bottom: 2em; */
  padding-top: 2em;
}

#mainContentHome {
  /* width: 50%; */
  /* float: right; */
  padding-top: 2em;
  padding-right: 2em;
}

#sideMenuHome {
  padding-top: 2em;
  padding-left: 2em;
  /* width: 50%; */
  /* float: left; */
}

/* #homeStats {
  width: 45%;
  float: left;
  padding: 1em;
}

#nextRunInfo {
  width: 45%;
  float: right;
  padding: 1em;
} */

#fullContent {
  width: 100%;
  float: right;
  padding: 1em;
  padding-top: 0;
  background-color: inherit;
}

#prefIcon{
    padding: 0;
    display: block;
    margin: auto;

}

#centerContent {
  padding: 1em;
  margin: auto;
  width: 95%;
  background-color: inherit;
}

#badge {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0%;
  bottom: 1%;
}

.calendar {
  background-color: white;
}

.warm {
  background-color: orange;
}

.fair {
  background-color: inherit;
}

.cold {
  background-color: #9EE4D9;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.editor {
  z-index: 1;
}

.editor-appear {
  opacity: 0.01;
}

.editor-appear.editor-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.editor-enter {
  opacity: 0.01;
}

.editor-enter.editor-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.editor-leave {
  opacity: 1;
}

.editor-leave.editor-leave-active {
  opacity: 0.01;
  transition: opacity 1300ms ease-in;
}

.chartInfo0.card-header {
  background-color: #badeff;
}

.chartInfo1.card-header {
  background-color: #f2aaaa;
}

.chartInfo2.card-header {
  background-color: #9ee4d9;
}

.chartInfo3.card-header {
  background-color: #f5f3cb;
}
